@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0;
    margin: 0;

    background-color: #1C1C27;
}

i {
    font-size: 3em;
}

main {
    display: grid;
}

.container {
    justify-self: center;

    max-width: 1024px;
    width: 100%;
}

.title {
    position: relative;

    width: 100%;
    padding: 3px 20px 3px 3px;
    font-size: 20px;
    font-weight: 700;

    color: #E3E3E3;
    background-color: #5175EC;
}

section {
    padding: 15px;
}