.projects__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 10px;

    width: 100%;
    justify-content: center;

    margin-top: 15px;
}

.projects__list__item {
    position: relative;
    
    width: 300px;
    height: 200px;

    border: solid 2px;
    border-color: transparent;
    border-radius: 3px;

    transition: border .2s ease-in-out;

    cursor: pointer;
}

.projects__list__item[class~=active] {
    border-color: #5175EC;
}
.projects__list__item[class~=active]::after {
    opacity: 0;
}

.projects__list__item::after {
    position: absolute;

    content: "";

    display: block;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: linear-gradient(135deg, rgba(81, 91, 236, 0.479), rgba(161, 81, 236, 0.26));
    transition: opacity .2s ease-in-out;
}
.projects__list__item:hover::after {
    opacity: 0;
}

.projects__list__item img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    padding: 0;
}

/* selected project */


.title--selected-project {
    font-size: 16px;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.selected-project {
    position: fixed;
    
    display: grid;
    align-content: start;
    grid-gap: 15px;
    
    max-width: 450px;
    width: 100%;
    min-height: 100%;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    
    padding: 15px;

    right: 0;
    
    background-color: rgba(28, 28, 39, 0.95);
    z-index: 2;
    
    color: #e3e3e3;
    
    transition: transform .4s ease-in-out, opacity .35s ease-in-out;
    transform: translateX(0%);
}
.selected-project[class~=hidden] {
    transform: translateX(100%);
    opacity: 0;
}

.selected-project-wrapper {
    display: grid;
    align-content: start;
    grid-gap: 15px;
}

.selected-project__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.selected-project__buttons__nav {
    justify-self: start;
}
.selected-project__buttons__nav button:last-child{
    margin-left: 5px;
}
.selected-project__buttons__close {
    justify-self: end;
}

.selected-project__buttons__title {
    justify-self: center;

    font-weight: 700;
    font-size: 24px;

    color: #E3E3E3;
}
.selected-project__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.selected-project__links__col {
    display: grid;
    justify-items: center;
}

.selected-project__stack__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
    grid-gap: 8px;
    padding-top: 5px;
}
.selected-project__stack__list__item {
    display: grid;
    justify-items: center;
    align-items: center;

    width: 50px;
    height: 50px;

    border: solid 1px #E3E3E3;
    border-radius: 100%;
}

.selected-project__features__list {
    list-style-type: none;
    padding: 10px 9px;
    margin: 0;
}
.selected-project__features__list__item {
    padding: 2px;
}

.fade {
    transition: opacity .3s ease-in, transform .3s ease-out;
}
.fade.fade-hide {
    transition: none;
    opacity: 0;
    transform: translateY(-10px);
}

@media screen and (min-width: 452px) {
    .selected-project {
        border-left: solid #5175EC 2px;
    }
}