.tech-and-tools {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px 18px;
}

.tech-and-tools__container {
    display: block;
}
.tech-and-tools__container--description {
    align-self: start;
    grid-column: 1 / -1;
}

.tech-and-tools__container__selected {
    display: grid;
    grid-gap: 8px;
    justify-items: center;

    color: #E3E3E3;
}
.tech-and-tools__container__selected__name {
    font-weight: 700;
    font-size: 18px;
}
.tech-and-tools__container__selected__description {
    max-width: 600px;
}

.tech-and-tools__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
    grid-gap: 6px;

    max-width: 224px;

    margin-top: 15px;
}

.tech-and-tools__list__item, .tech-and-tools__container__selected__logo {
    display: grid;

    justify-items: center;
    align-items: center;

    width: 50px;
    height: 50px;

    border: solid #E3E3E3 2px;
    border-radius: 100%;
    
    transition: border-color .1s ease-in-out, background-color .1s ease-in-out;
}
.tech-and-tools__list__item {
    cursor: pointer;
}
.tech-and-tools__list__item:hover {
    border-color: rgb(138, 160, 235);
}
.tech-and-tools__list__item[class~=selected] {
    border-color: #5175EC;
    background-color: rgba(81, 117, 236, 0.15);
}

@media screen and (min-width: 768px) {
    .tech-and-tools__container:first-child {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .tech-and-tools__container:last-child {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .tech-and-tools__container--description {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
}