@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.fade-enter {
  opacity: 0;
  transform: translateY(50%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity .5s, transform .5s ease-in-out;
}
.fade-exit {
  opacity: 1;
  transform: scale(1);
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity .5s, transform .5s ease-in-out;
}

main {
  position: relative;
  overflow: hidden;
}

section {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #dadada;
}